/*
|--------------------------------------------------------------------------
| 
| scroll up
|--------------------------------------------------------------------------
*/

#toTop:before {
    content: "\f343";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 30px/1 'dashicons';   
    vertical-align: top;
    z-index:999999999;
	cursor:pointer;
	transition:all 0.6s ease-in-out 0s;
	-moz-transition:all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.6s ease-in-out 0s;
	
	}


#toTop {
    background:#33495d;
	color:#fff;
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:35px;
	height:35px;
	border:none;
	border-radius: 5px;
	text-indent: 0%;
	padding: 4px;
/*	background:url(../img/ui.totop.png) no-repeat left top; */
	z-index:999999999;
	transition:all 0.6s ease-in-out 0s;
	-moz-transition:all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.6s ease-in-out 0s;
   
	}
	

#toTop:hover{cursor:pointer;z-index:999999999;background:#ecf0f1;color:#33495d;padding:0 4px; }

#toTopHover {  
	width:35px;
	height:35px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0); 
z-index:999999999;
}

#toTop:active, #toTop:focus {
	outline:none;
}